@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic");

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: auto;
  background-color: #000;
}

.display {
  background-color: aliceblue;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.container-img{
	background-color: aqua;
	width: 80%;
}

.column-right {
	background-color: rgb(124, 140, 155);
    width: 20%;
    height: 80%;
    display: flex;
}

.column-down {
  background-color: rgb(8, 13, 175);
  width: 100%;
  height: 20%;
  color: #fff;
}

.wrap {
	flex-wrap: wrap;
}

.container {
	max-width: 100vw;
	height: auto;
	margin: 0 auto;
	display: flex;
	border: 1px solid #ccc;
}
/* Flex Item */
.item {
	/* O flex: 1; é necessário para que cada item se expanda ocupando o tamanho máximo do container. */
	flex: 1;
	margin: 5px;
	background: #2c43c7;
	text-align: center;
	font-size: 1.5em;
}

.item img{
    width: 38em;
    height: 18em;
	aspect-ratio: 16/9;
}

.senhaAtual{
	display: flex;
    text-align: center;
    background-color: #003a5f;
    color: white;
    justify-content: center;
    align-items: center;
}

.senhaAtualTexto{
	font-size: 30pt;
	font-weight: 300;
}

#senhaAtualNumero{
	font-size: 60pt;
	font-weight: 600;
}

.ultimaSenha{
	font-weight: 800;
	text-align: center;
	background-color: #ccc;
	height: 6em;
	margin-top: 20px;
	width: 100%;
}

#ultimaSenhaTexto{
	font-size: 20px;
	color: rgb(6, 66, 177);
}

#ultimaSenhaNumero{
	font-size: 40px;
	color: black;
}

.ultimaSenhaPreferencial{
	font-weight: 800;
	text-align: center;
	background-color: #ccc;
	height: 6em;
	margin-top: 20px;
	width: 100%;
	padding-bottom: 1.4em;
}

#ultimaSenhaTextoPreferencial{
	font-size: 20px;
	color: rgb(206, 2, 2);
}

#ultimaSenhaNumeroPreferencial{
	font-size: 40px;
	color: black;
}

.container-horas{
	margin: 1em;
	background-color: #301a9e;
	color: #fff;
}

audio {
  display: none;
}
